<component name="ArtifactManager">
  <artifact type="war" name="spring_04_bean_lifecycle:war">
    <output-path>$PROJECT_DIR$/spring_04_bean_lifecycle/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_04_bean_lifecycle</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_04_bean_lifecycle-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_04_bean_lifecycle:war exploded" />
    </root>
  </artifact>
</component>