<component name="ArtifactManager">
  <artifact type="war" name="spring_15_springmy_batis:war">
    <output-path>$PROJECT_DIR$/spring_15_springmy_batis/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_15_springmy_batis</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_15_springmy_batis.war">
      <element id="artifact" artifact-name="spring_15_springmy_batis:war exploded" />
    </root>
  </artifact>
</component>